body {
	background-color: rgb(255, 0, 179);
	background-image: url("https://cdn.discordapp.com/attachments/732188184565383241/732363615889391737/bae0a6933efa022e7ee5812d361eed224d4054edr1-670-999v2_uhq.jpg");
	background-repeat: repeat;
}

.flushed {
	width: 32px;
	height: 32px;
}

.trole0 {
	width: 100px;
	height: 100px;
}

.trole1 {
	width: 100px;
	height: 100px;
	position: absolute;
	left: 4000%;
	top: 50%;
}

.trole2 {
	width: 100px;
	height: 100px;
}

.trole3 {
	width: 100px;
	height: 100px;
}

.poop {
	color: yellow;
	font-size: 50px;
	font-family: "Comic Sans MS", "Comic Sans";
}

.touch {
	width: 300px;
	height: 300px;
	position: absolute;
	left: 1300px;
	top: 3px;
}

.nigga {
	width: 300px;
	height: 300px;
}

.come {
	width: 300px;
	height: 300px;
}

.gaming {
	color: rgb(255,0,255);
	font-size: 50px;
	font-family: "Comic Sans MS", "Comic Sans";
}

.dorime {
	position: absolute;
	left: 100px;
	top: 325px;
}

.sponge {
	width: 300px;
	height: 300px;
	position: absolute;
	left: 600px;
	top: 700px;
}
