body {
	background-color: rgb(222,222,222);
	background-image: ;
	background-repeat: repeat;
}

.flushed {
	width: 32px;
	height: 32px;
}

.trole0 {
	width: 100px;
	height: 100px;
	position: absolute;
	left: 0px;
	top: 300px;
}

.poop {
	color: yellow;
	font-size: 50px;
	font-family: "Comic Sans MS", "Comic Sans";
}

.touch {
	width: 300px;
	height: 300px;
	position: absolute;
	left: 1300px;
	top: 3px;
}

.nigga {
	width: 300px;
	height: 300px;
}

.come {
	width: 300px;
	height: 300px;
	position: absolute;
	top: 100px;
	left:400px;
}

.gaming {
	color: rgb(255,0,255);
	font-size: 50px;
	font-family: "Comic Sans MS", "Comic Sans";
}

.dorime {
	position: absolute;
	left: 100px;
	top: 325px;
}

.sponge {
	width: 300px;
	height: 300px;
	position: absolute;
	left: 600px;
	top: 400px;
}

.swim {
	width: 250;
	height: 150;
	position: absolute;
	left: 1000px;
	top: 375px;
}

.youtube {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 1px;
	right: 1px;
}

.twitter {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 1px;
	right: 100px;
}

.twitch {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 1px;
	right: 200px;
}

.spider {
	position: absolute;
	top: 25px;
	left: 600px;
}

.rich {
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.floss {
	width: 200px;
	height: 200px;
	position: absolute;
	bottom: 400px;
	left: 1300px;
}

.haha {
	width: 200px;
	height: 50px;
	position: absolute;
	top: 50px;
	left: 300px;
}
