body {
	background-color: rgb(255, 0, 179);
	background-image: url("https://cdn1.i-scmp.com/sites/default/files/styles/768x768/public/2015/03/22/949ef4692dfa59b98a7550b564b742f9.jpg");
	background-repeat: repeat;
}

.flushed {
	width: 32px;
	height: 32px;
}

.trole0 {
	width: 100px;
	height: 100px;
}

.trole1 {
	width: 100px;
	height: 100px;
	position: absolute;
	left: 4000%;
	top: 50%;
}

.trole2 {
	width: 100px;
	height: 100px;
}

.trole3 {
	width: 100px;
	height: 100px;
}

.poop {
	color: yellow;
	font-size: 50px;
	font-family: "Comic Sans MS", "Comic Sans";
}

.touch {
	width: 300px;
	height: 300px;
	position: absolute;
	left: 35%;
	top: 3%;
}

.nigga {
	width: 300px;
	height: 300px;
}

.come {
	width: 300px;
	height: 300px;
}
